---
import Tags from "./RightSection/Tags.astro";
import Gallery from "./LeftSection/Gallery.astro";
---

<div class="w-full h-full lg:w-1/4 max-lg:order-3">
    <Gallery />
    <Tags title="🔗 لینک ها" />
</div>
