---
const { title, tags } = Astro.props;
---

<div class="p-4 pt-0 font-vazir">
    <div
        class="text-base font-medium text-gray-900 bg-white border border-gray-200 shadow rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:text-white"
    >
        <p
            class="p-4 text-xl font-bold text-right text-black font-iransans dark:text-gray-400"
        >
            {title}
        </p>

        {
            tags?.map((tag) => (
                <a
                    href="#"
                    class="block w-full px-4 py-2 text-center border-gray-200 cursor-pointer border-y hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
                >
                    {tag}
                </a>
            ))
        }
    </div>
</div>
